@import "tailwindcss";

@theme {
  /* Brand colors */
  --color-primary: #2c6956;
  --color-primary-container: #a8e6cf;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #2c6957;

  --color-secondary: #3b656b;
  --color-secondary-container: #bce7ee;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #40696f;

  --color-tertiary: #646027;
  --color-tertiary-container: #e1dc96;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #646027;

  --color-surface: #fcf9f8;
  --color-surface-variant: #e4e2e1;
  --color-surface-container: #f0eded;
  --color-surface-container-high: #eae7e7;

  --color-on-surface: #1b1c1c;
  --color-on-surface-variant: #404945;
  --color-on-background: #1b1c1c;

  --color-outline: #707974;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;

  /* Fonts */
  --font-sans: var(--font-jakarta), "Plus Jakarta Sans", sans-serif;
  --font-display: var(--font-lexend), "Lexend", sans-serif;
}

body {
  background-color: #fcf9f8;
  color: #1b1c1c;
}

@utility hard-shadow {
  box-shadow: 4px 4px 0px 0px rgba(27, 28, 28, 1);
}

@utility hard-shadow-sm {
  box-shadow: 2px 2px 0px 0px rgba(27, 28, 28, 1);
}

@utility hard-shadow-active {
  &:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px rgba(27, 28, 28, 1);
  }
}
